
.patomik-contant{
    max-width: 1350px !important;
    margin: auto;
}
.our-menu-list li a{
	color: black !important;
	padding: 0 20px;
	font-weight: bold;
	text-decoration: none;
    transition: all .1s ease-in-out;
    position: relative;
}
.our-menu-list li a::before {
	content: "";
	clear: both;
	display: block;
	position: absolute;
	width: 0;
	height: 4px;
	background: red;
	left: 18px;
	bottom: -6px;
    transition: 1s;
}
.our-menu-list li a::after {
	content: "";
	clear: both;
	display: block;
	position: absolute;
	width: 0;
	height: 4px;
	background: red;
	right: 18px;
	bottom: -6px;
    transition: 1s;
}
.our-menu-list li a:hover::before{
    width: 50%;
}
.our-menu-list li a:hover:after{
    width: 50%;
}
.our-menu-list li a:hover{
    color: red !important;
}


.header-logu a{
    width: 150px;
}
img{
    max-width: 100%;
}

/* DropDwon-Menu Start */
.our-menu-list  li{
    position: relative;
}
.our-menu-list li ul {
	position: absolute;
	top: 222%;
	left: 0;
	list-style: none;
	width: 116px;
	height: auto;
	padding: 0;
	display: block;
	box-shadow: 1px 1px -11px;
	border-radius: 0 0 5px 5px;
	visibility: hidden;
	opacity: 0;
	transition: all .4s ease-in-out;
}
.our-menu-list li ul li{
    border-bottom: 1px solid #fff;
}
.our-menu-list ul li a{
    display: block;
}
.our-menu-list li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.header-search span{

}
.header-search span {
	font-size: 20px;
	line-height: 48px;
	padding-right: 12px;
	border-right: 1px solid #ddd;
	margin-right: 16px;
}
.header-icon span {
	font-size: 30px;
	color: red;
}
.header-info-text span{

}
.header-info-text a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}



/* slider-section */

.slider-text {
	background-image: url(./img/main-banner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.slider-contact{
    width: 600px;
}
.slider-text{
    padding-top: 170px;
}
.slider-text span{
    color: red;
    font-size: 20px;
}
.slider-text h1 {
	font-size: 61px;
	font-weight: bold;
	padding: 20px 0;
}
.slider-text p{}

/* menu-div-list */
.menu-div-list{}
.menu-div-list span{}
.menu-div-list ul{
    list-style: none;
    margin-right: 30px;
}
.menu-div-list ul li{
    display: inline-block;
}
.menu-div-list ul li a{
    padding: 0 20px;
    color: black;
    transition: all .4s ease-in-out;
    font-size: 20px;
}
.menu-div-list ul li a:hover{
    color: red;
}
.menu-div-list span::before {
	content: "";
	clear: both;
	display: block;
	width: 30px;
	height: 1px;
	right: -94px;
	top: 20px;
	background: red;
	position: relative;
}


/* photo-item-section-start */

.img-item-part{
    padding: 85px 0;
    border-bottom: 1px solid #ddd;
}

/* contant-img-items-start */

